<div class="study-workspace">
<div class="study-heading">
  <h1 class="clicking_turns_on_hints study-feature-title"><%= String.replace(@study.title, "_", " ") %></h1>
  <%= if @study.is_owner do %>
    <%= link dgettext("study", "Edit chapter"), to: Routes.study_path(@conn, :editor, @locale, @study), class: "study-edit-link", id: "edit_chapter" %>
    <%= link dgettext("study", "Edit study"), to: Routes.study_path(@conn, :edit, @locale, @study), class: "study-edit-link" %>
  <% end %>
</div>

<%= render "_chapter_controls.html" %>

<div id="study_layout" class="with_sidebar" x-data="{ reading: false, expanded: false, overflowing: false }"
     :class="{ 'study-reading-layout': reading }"
     @study-reading-updated.window="if (reading !== $event.detail.reading) { reading = $event.detail.reading; $nextTick(() => $dispatch('study-reading-layout-updated')); } expanded = false; $nextTick(() => overflowing = $refs.comments.scrollHeight > $refs.comments.clientHeight)">
  <div id="game_container" class="sidebar_main">
    <div class="study-board-frame">
      <%= render ListudyWeb.ComponentView, "chessground.html" %>
    </div>
    <nav id="study_move_navigation" class="study-move-navigation" :class="{ 'study-move-navigation--reading': reading }" aria-label="<%= dgettext("study", "Move navigation") %>">
      <button type="button" id="study_previous_move" disabled aria-label="<%= dgettext("study", "Previous move") %>" title="<%= dgettext("study", "Previous move") %>">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true" focusable="false"><path d="m15 6-6 6 6 6" /></svg>
      </button>
      <button type="button" id="study_next_move" disabled aria-label="<%= dgettext("study", "Next move") %>" title="<%= dgettext("study", "Next move") %>">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true" focusable="false"><path d="m9 6 6 6-6 6" /></svg>
      </button>
    </nav>
  </div>  
  <div class="sidebar clicking_turns_on_hints">
    <div class="sidebar_innercontainer">
      <%= render ListudyWeb.ComponentView, "infoboxes.html" %>

      <div class="sidebar_padded">
        <section class="study-reading-tree" x-show="reading" x-cloak aria-label="<%= dgettext("study", "Chapter moves") %>">
          <div id="study_moves_heading" class="study-moves-heading">
            <h3><%= dgettext("study", "Moves") %></h3>
          </div>
          <div class="study-tree-columns" aria-hidden="true">
            <span>#</span><span><%= dgettext("study", "White") %></span><span><%= dgettext("study", "Black") %></span>
          </div>
          <div id="study_read_moves" hidden></div>
        </section>
        <div style="margin-bottom: 1em" x-show="!reading">
          <a class="icon large_clickarea" data-icon="-" id="hints" role="button"><%= dgettext("study", "Show hints for this move!") %></a><br>
        </div>
        
        <div class="study-comment-panel" :class="{ 'study-comments-expanded': expanded }">
          <div id="comments" class="study_comments" x-ref="comments"></div>
          <button type="button" class="study-read-comment-toggle" x-cloak
                  x-show="reading && (overflowing || expanded)" :aria-expanded="expanded"
                  aria-controls="comments" @click="expanded = !expanded">
            <span x-show="!expanded"><%= dgettext("study", "Show more") %></span>
            <span x-show="expanded"><%= dgettext("study", "Show less") %></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Actions used while training -->
<div class="study-primary-actions">
  <div class="option_item">
    <button type="button" id="study_mode" class="icon study-mode-toggle" data-icon=">"
            x-data="{ reading: false }"
            @study-reading-updated.window="reading = $event.detail.reading"
            aria-pressed="false" :aria-pressed="reading"
            @click="$dispatch('study-reading-change', { reading: !reading })">
      <span x-show="!reading"><%= dgettext("study", "Mode: Practice") %></span>
      <span x-show="reading" x-cloak><%= dgettext("study", "Mode: Read") %></span>
    </button>
  </div>
<div class="option_item">
    <a class="icon" data-icon="." id="reset_line"><%= dgettext("study", "Reset line") %></a>
  </div>
<div class="option_item">
    <a class="icon" data-icon=">" id="puzzle_run" title="<%= dgettext("study", "Automatically advance to the next line when a puzzle is completed.") %>">placeholder</a>
  </div>
<div class="option_item">
    <a class="icon" data-icon="/" id="analysis_board" href="https://lichess.org/analysis" title="<%= dgettext "study", "Analyze this position with the Lichess Analysis Board" %>"><%= dgettext "study", "Analyze position" %></a>
  </div>
<div class="option_item">
    <a class="icon" data-icon="-" id="arrows_toggle">placeholder</a>
  </div>
<div class="option_item">
    <a class="icon" data-icon="3" id="comments_toggle" title="<%= dgettext("study", "Option to control when comments are displayed") %>">placeholder</a>
  </div>
</div>
<!-- Progress Bar Area -->
<div style="margin-top: 20px; padding-top: 15px; border-top: 1px solid #eaeaea;">
  <div class="option_item_progressbar" style="width: 100%;">
    <a style="display: block; padding-bottom: 5px; font-weight: bold;" href="#" data-icon="+" class="icon modal_open" id="progress"><%= dgettext("study","Progress") %></a>
    <div id="chapter_progress"></div>
    <p id="weak_run_status" class="study-weak-run-status" hidden></p>
  </div>
</div>

<details class="study-controls-panel">
<summary><%= dgettext("study", "Settings") %></summary>
<div class="study-settings-grid">
<div class="option_item">
    <a class="icon" data-icon="$" id="key_move" title="<%= dgettext("study", "Don't repeat the early moves that are already known. Skips to the first branching move in the study.") %>">placeholder</a>
  </div>
<div class="option_item">
    <a class="icon" data-icon="(" id="move_delay"><%= dgettext("study", "Move delay:") %> <span id="move_delay_time">placeholder</span></a>
  </div>
<div class="option_item">
    <a class="icon" data-icon="(" id="line_review" title="<%= dgettext("study", "At the end of lines the board is only reset after 3 seconds giving you time to review the final position.") %>">placeholder</a>
  </div>
<div class="option_item">
    <a class="icon" data-icon="-" id="arrow_type" title="<%= dgettext("study", "Option to control the type of hints shown. 'Moves' means arrows are displayed for all playable moves in the study. 'Annotations' are arrows and circles from the study or PGN file. These can be created at Lichess.org and other sites.") %>">placeholder</a>
  </div>
<div class="option_item">
    <div id="max_depth_container" title="<%= dgettext("study", "Lets you choose how many moves deep in the repertoire to train. The highest value you can choose is the length of the longest line. Set to a lower value to train against a more shallow subset of the repertoire, and to the highest value to train against the full repertoire.") %>">
      <a class="icon" data-icon="+"><%= dgettext("study", "Max depth: ") %></a>
      <a id="max_depth_label" class="max_depth_label">placeholder</a>
      <a id="max_depth_sub" class="max_depth_ctrl" role="button">-</a><input type="range" id="max_depth_range" class="max_depth_range" min="1" max="1"><a id="max_depth_add" class="max_depth_ctrl" role="button">+</a>
    </div>
  </div>
</div>
</details>
<details class="study-controls-panel">
<summary><%= dgettext("study", "More actions") %></summary>
<div class="study-more-grid">
<div class="option_item">
    <a class="icon" data-icon="!" id="play_stockfish" href="<%= Routes.page_path(@conn, :play_stockfish, @locale) %>#rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1" title="<%= dgettext "study", "Play against Stockfish" %>"><%= dgettext "study", "Play against Stockfish" %></a>
  </div>
<div class="option_item">
    <a class="icon" data-icon="E" id="copy_line_to_clipboard" href="#" title="<%= dgettext "study", "Copy chapter to clipboard" %>"><%= dgettext "study", "Copy chapter to clipboard" %></a>
  </div>
<div class="option_item">
    <%= if !@study.favorites do %>
      <%= link dgettext("study", "Favorite study"), to: Routes.study_path(@conn, :favorite_study, @study.slug), method: :post, class: "icon", "data-icon": "#" %>
    <% else %>
      <%= link dgettext("study" ,"Unfavorite study"), to: Routes.study_path(@conn, :unfavorite_study, @study.slug), method: :post, class: "icon", "data-icon": "\"" %>
    <% end %>
  </div>
</div>
</details>
<details class="study-controls-panel study-about">
<summary><%= dgettext("study", "Study details") %></summary>
<p><%= @study.description %></p>
<b><%= dgettext("study", "Creator") %></b>
<p><%= link @study.user.username, to: Routes.user_profile_path(@conn, :show, @locale, @study.user.username) %></p>
<b><%= dgettext("study", "Opening") %></b>
<p><%= link @opening.name, to: Routes.opening_path(@conn, :show, @locale, @opening.slug) %></p>
</details>
<%= render "_collection_modal.html" %>
<details class="study-controls-panel study-discussion">
<summary><%= dgettext("comments", "Comments") %></summary>
<%= render ListudyWeb.CommentView, "show_comments.html", type: "study", id: Integer.to_string(@study.id), action: Routes.comment_path(@conn, :new_comment), conn: @conn %>
<%= render ListudyWeb.CommentView, "comment_form.html", type: "study", id: Integer.to_string(@study.id), action: Routes.comment_path(@conn, :new_comment), conn: @conn %>
</details>

<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/chessground.css") %>"/>
<script defer type="text/javascript" src="<%= study_script_path(@conn) %>"></script>
<script <%= raw ListudyWeb.Plugs.CSP.put_nonce(@conn) %>>
  /*
   * "Cleans" pgn files, 
   * remove non standard characters
   * replace some (but not all) of the html escapting
  */
  function clean_pgn(pgn) {
    pgn = pgn.replace(/½/g, '1/2');
    pgn = pgn.replace(/&gt;/g, '>');
    pgn = pgn.replace(/&lt;/g, '<');
    pgn = pgn.replace(/&quot;/g, '"');
    pgn = pgn.replace(/&#39;/g, "'");
    // U+FEFF ZERO WIDTH NO-BREAK SPACE
    // No idea why they are in some pgns but they break the parser 
    // https://github.com/ArneVogel/listudy/issues/35
    pgn = pgn.replace(/\ufeff/g, ''); 
    pgn = pgn.replace(/\)/g, ' ) ');
    pgn = pgn.replace(/\(/g, ' ( ');
    pgn = pgn.replace(/\{/g, ' { ');
    pgn = pgn.replace(/\}/g, ' } ');
    pgn = pgn.replace(/0-0-0/g, 'O-O-O');
    pgn = pgn.replace(/0-0/g, 'O-O');
    while (pgn.indexOf("  ") != -1) {
      pgn = pgn.replace(/  /g, ' ');
    }
    return pgn;
  }
  var pgn = clean_pgn(`<%= javascript_escape @study.pgn %>`);
  var color = "<%= @study.color %>";
  var study_id = "<%= @study.slug %>".split("-")[0];
  <%= if Pow.Plug.current_user(@conn) do %>
  var logged_in = true;
  <% else %>
  var logged_in = false;
  <% end %>

  let i18n = {};
  i18n.info_intro = "<%= dgettext "study", "Starting training." %>";
  i18n.no_playable_chapters = "<%= dgettext "study", "Add moves to a chapter to start practicing." %>";
  i18n.read_choose_continuation = "<%= dgettext "study", "Choose a continuation from this chapter." %>";
  i18n.read_start_position = "<%= dgettext "study", "Starting position" %>";
  i18n.read_variation = "<%= dgettext "study", "Variation" %>";
  i18n.info_arrows = "<%= dgettext "study", "By default arrows will provide hints to show which moves are in this study. Using the options below you can control for how many moves the arrows/hints should stay visible. By default they stay visible until all moves in a position has been played twice. Any non-playable arrow annotations from the study or PGN file will appear as transparent arrows." %>";
  i18n.error_wrong_move = "<%= dgettext "study", "This move is not in the study, try again." %>";
  i18n.success_right_move = "<%= dgettext "study", "Right move!" %>";
  i18n.success_end_of_line = "<%= dgettext "study", "You reached the end of this line." %>";
  i18n.translation_chapter = "<%= dgettext "study", "Chapter" %>";
  i18n.suggestion_first_pgn_arrow = "<%= raw dgettext "study", "The transparent arrows are arrows stored in the study. These don't indicate playable moves but are commonly used to indicate threats, alternative lines, and future ideas." %>";
  i18n.suggestion_first_neglected_move = "<%= dgettext "study", "One of the moves in the position has been played more than others and is marked with a thinner outline. To give all lines equal attention, play one of the other moves!" %>";
  i18n.suggestion_favorite = "<%= dgettext "study", "If you like this study make sure to favorite it to have it listed under Your Studies" %>";
  i18n.suggestion_share = "<%= dgettext "study", "Do you like this study? Share it with your friends." %>";
  i18n.suggestion_account = "<%= dgettext "study", "Create an account to get all the features of Listudy and upload your own studies." %>";
  i18n.suggestion_comment = "<%= dgettext "study", "Do you have feedback, suggestions or do you want to say something nice? Comment on the study below." %>";
  i18n.suggestion_100moves = "<%= dgettext "study", "You learned 100 moves today. Maybe take a break or come back tomorrow to get the full training effect." %>";
  i18n.suggestion_250moves = "<%= raw dgettext "study", "You learned 250 moves today. For the best training effect come back tomorrow. Or don't, I'm just text not a cop." %>";
  i18n.arrows_new2x = "<%= dgettext "study", "Hints: until played 2x" %>";
  i18n.arrows_new5x = "<%= dgettext "study", "Hints: until played 5x" %>";
  i18n.arrows_always = "<%= dgettext "study", "Hints: always on" %>";
  i18n.arrows_hidden = "<%= dgettext "study", "Hints: hidden" %>";
  i18n.arrow_type_both = "<%= raw dgettext "study", "Hints: moves & annotations" %>";
  i18n.arrow_type_playable = "<%= dgettext "study", "Hints: playable moves only" %>";
  i18n.arrow_type_pgn = "<%= dgettext "study", "Hints: annotations only" %>";
  i18n.review_slow = "<%= dgettext "study", "Board reset delay: slow" %>";
  i18n.puzzle_run_off = "<%= dgettext "study", "Puzzle run: off" %>";
  i18n.puzzle_run_next = "<%= dgettext "study", "Puzzle run: next" %>";
  i18n.puzzle_run_random = "<%= dgettext "study", "Puzzle run: random" %>";
  i18n.review_fast = "<%= dgettext "study", "Board reset delay: fast" %>";
  i18n.key_move_enabled = "<%= dgettext "study", "Jump to key move: on" %>";
  i18n.key_move_disabled = "<%= dgettext "study", "Jump to key move: off" %>";
  i18n.slow = "<%= dgettext "study", "slow" %>";
  i18n.fast = "<%= dgettext "study", "fast" %>";
  i18n.medium = "<%= dgettext "study", "medium" %>";
  i18n.instant = "<%= dgettext "study", "instant" %>";
  i18n.comments_when_arrows = "<%= dgettext "study", "Comments: when hints show" %>";
  i18n.comments_always_on = "<%= dgettext "study", "Comments: always on" %>";
  i18n.comments_hidden = "<%= dgettext "study", "Comments: hidden" %>";
  i18n.confirm_reset_progress = "<%= dgettext "study", "Are you sure you want to delete your study progress?" %>";
  i18n.progress_errors = "<%= dgettext "study", "Mistakes" %>";
  i18n.progress_error = "<%= dgettext "study", "mistake" %>";
  i18n.progress_errors_lower = "<%= dgettext "study", "mistakes" %>";
  i18n.progress_correct_moves = "<%= dgettext "study", "Correct moves" %>";
  i18n.progress_recent_accuracy = "<%= dgettext "study", "Recent first-try accuracy" %>";
  i18n.progress_moves_missed = "<%= dgettext "study", "moves missed" %>";
  i18n.progress_last_short = "<%= dgettext "study", "Last" %>";
  i18n.progress_current_short = "<%= dgettext "study", "Current" %>";
  i18n.progress_no_recent_practice = "<%= dgettext "study", "No recent practice" %>";
  i18n.progress_last_practice = "<%= dgettext "study", "Last practice" %>";
  i18n.progress_current_practice = "<%= dgettext "study", "Current practice" %>";
  i18n.progress_practice = "<%= dgettext "study", "practice" %>";
  i18n.progress_practices = "<%= dgettext "study", "practices" %>";
  i18n.progress_incomplete = "<%= dgettext "study", "incomplete" %>";
  i18n.progress_practiced_moves = "<%= dgettext "study", "Moves practiced" %>";
  i18n.progress_clean_moves = "<%= dgettext "study", "Clean moves since last mistake" %>";
  i18n.progress_needs_practice = "<%= dgettext "study", "Needs practice" %>";
  i18n.progress_correct = "<%= dgettext "study", "correct" %>";
  i18n.progress_not_practiced = "<%= dgettext "study", "Not practiced" %>";
  i18n.progress_no_attempts = "<%= dgettext "study", "Not practiced yet" %>";
  i18n.weak_run_active = "<%= dgettext "study", "Practicing weak chapters" %>";
  i18n.weak_run_remaining = "<%= dgettext "study", "chapters left" %>";
  i18n.weak_run_complete = "<%= dgettext "study", "Weak chapter practice complete!" %>";
  i18n.spaced_review_due = "<%= dgettext "study", "Review due" %>";
  i18n.spaced_review_next = "<%= dgettext "study", "Next review" %>";
  i18n.spaced_review_active = "<%= dgettext "study", "Reviewing due chapters" %>";
  i18n.spaced_review_complete = "<%= dgettext "study", "Reviews complete for now!" %>";
  i18n.response = "<%= dgettext "study", "response" %>";
  i18n.max_depth = "<%= dgettext "study", "Max depth: " %>";
  i18n.overlay_playable_move = "<%= dgettext "study", "Opaque arrows with a black outline are playable moves" %>";
  i18n.overlay_playable_short = "<%= dgettext "study", "Playable" %>";
  i18n.overlay_pgn_arrow = "<%= dgettext "study", "Transparent arrows come from the study and are not playable" %>";
  i18n.overlay_pgn_arrow_only = "<%= dgettext "study", "Transparent arrows come from the study and are hints only" %>";
  i18n.overlay_frequently_played = "<%= dgettext "study", "Moves that have been played before are shown with a thinner outline" %>";
</script>

<div id="progress_modal" class="modal">
  <div class="modal-content"
    x-data="{ chapters: [], weakRunActive: false, spacedReviewActive: false }"
    x-on:study-progress-updated.window="chapters = &#36;event.detail"
    x-on:study-weak-run-updated.window="weakRunActive = &#36;event.detail.active"
    x-on:study-spaced-run-updated.window="spacedReviewActive = &#36;event.detail.active">
    <span class="modal_close">&times;</span>
    <h3><%= dgettext("study","Study Progress")%></h3>
    <div class="study_progress" id="study_progress">
      <template x-for="chapter in chapters" :key="chapter.index">
        <button type="button" class="chapter-progress-summary"
          :class="'chapter-progress-summary--' + (chapter.reviewDue ? 'due' : chapter.level) + (chapter.current ? ' chapter-progress-summary--current' : '')"
          :aria-current="chapter.current ? 'true' : null"
          x-on:click="$dispatch('study-progress-open-chapter', { index: chapter.index })">
          <strong x-text="chapter.name"></strong>
          <span class="chapter-progress-cues" x-show="chapter.current || chapter.mastered && !chapter.reviewDue || chapter.reviewDue">
            <span class="chapter-progress-current" x-show="chapter.current"><%= dgettext("study", "Current chapter") %></span>
            <span class="chapter-progress-solid" x-show="chapter.mastered && !chapter.reviewDue">✓ <%= dgettext("study", "Chapter complete") %></span>
            <span class="chapter-progress-due" x-show="chapter.reviewDue"><%= dgettext("study", "Review due") %></span>
          </span>
          <span x-text="chapter.metrics"></span>
          <span x-show="chapter.recovery" x-text="chapter.recovery"></span>
          <span x-show="chapter.reviewLabel && !chapter.reviewDue" x-text="chapter.reviewLabel"></span>
        </button>
      </template>
    </div>
    <div class="study-progress-actions">
      <button type="button" class="secondary" id="review_due_chapters"
        x-show="spacedReviewActive || chapters.some(chapter => chapter.reviewDue)"
        x-on:click="$dispatch('study-progress-toggle-spaced-run')"
        data-start-label="<%= dgettext("study", "Review due chapters") %>"
        data-stop-label="<%= dgettext("study", "Stop reviews") %>"
        x-text="spacedReviewActive ? $el.dataset.stopLabel : $el.dataset.startLabel + ' (' + chapters.filter(chapter => chapter.reviewDue).length + ')'"></button>
      <button type="button" class="secondary" id="practice_weak_chapters"
        x-show="weakRunActive || chapters.some(chapter => chapter.errors > 0 && !chapter.mastered)"
        x-on:click="$dispatch('study-progress-toggle-weak-run')"
        data-start-label="<%= dgettext("study", "Practice weak chapters") %>"
        data-stop-label="<%= dgettext("study", "Stop weak practice") %>"
        x-text="weakRunActive ? $el.dataset.stopLabel : $el.dataset.startLabel"></button>
      <button id="study_progress_reset" class="primary"><%= dgettext("study", "Reset progress") %></button>
    </div>
  </div>
</div>

</div>
